<%layout("layouts/boilerplate")%>
<h3>Hello <%=result%>,Welcome to your Dashboard </h3>
<div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Student Complaints</h5>
      <p class="card-text">Complaints details submitted by students</p>
      <a href="/admin/<%=result%>/student_complaints" class="btn btn-primary">See Complaints</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Faculty Complaints</h5>
      <p class="card-text">Complaints details submitted by faculty</p>
      <a href="/admin/<%=result%>/faculty_complaints"  class="btn btn-primary">See Complaints</a>
    </div>
  </div>
<br>
 

