<%layout("layouts/boilerplate")%>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">OOPS!!</h4>
    <p>Invalid Credentials, You are not verified Admin</p>
    <hr>
    <p class="mb-0" ><a href="/admin/login">Try Again</a> or <a href="/">Go to home page</a> </p>
  </div>