<%layout("layouts/boilerplate")%>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">OOPS!!</h4>
    <p>Invalid Credentials, This credentials don't have verified account</p>
    <hr>
    <p class="mb-0" ><a href="/faculty/login">Try Again</a> or <a href="/">Go to home page</a>  </p>
    <p class="mb-0"> Are you new user <a href="/faculty/signup">Sign up</a></p>
  </div>