<%layout("layouts/boilerplate")%>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">WELL DONE!!</h4>
    <p>Your Faculty account is made successfully</p>
    <hr>
    <p class="mb-0" ><a href="/faculty/login">Login</a> or <a href="/">Go to home page</a>  </p>
   
  </div>